.stories {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stories div:last-of-type {
  display: flex;
  align-items: center;
}

.stories div:last-of-type .story__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  border: 1px solid salmon;
  border-radius: 14px;
  padding: 5px;
  height: 85vh;
}

.stories div:last-of-type .story__container div:first-of-type {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

.stories div:last-of-type .story__container div:first-of-type span {
  font-size: larger;
  font-weight: bolder;
  margin-left: auto;
  display: flex;
}
.stories div:last-of-type .story__container div:first-of-type img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.stories div:last-of-type .story__container div:nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.progress {
  display: flex;
  width: 100%;
  height: 2px;
  flex-grow: 1;
  border-radius: 4px;
  margin: 0 5px;
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(88, 89, 104, 0.5) 50.001%,
    rgba(88, 89, 104, 0.5) 100%
  );
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 100% 50%;
  animation-timing-function: linear;
  animation-delay: 0.2s;
}

.progress.progress__loading__start {
  animation-name: progressBarLoading;
}

.progress.progress__loading__remove {
  animation-play-state: paused !important;
  animation: none !important;
}
@keyframes progressBarLoading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
